.cld_wrap
{
    width:280px;
    height:305px;
    background:#fff;
    border:1px solid #aaa;
    padding:15px 0px;
    box-sizing:border-box;
}

.cld_btn
{
    margin:0px 10px;
}

.cld_skin
{
    width:100%;
    margin-top:7px;
    border-collapse:collapse;
}

.cld_skin caption
{
    font-size:15px;
    color:#333;
    padding-bottom:17px;
}

.cld_skin th
{
    font-size:12px;
    color:#888;
    background:#f3f3f3;
    font-weight:normal;
    height:29px;
}

.cld_skin td
{
    height:39px;
    padding:0px;
}

.cld_skin th, .cld_skin td
{
    border:1px solid #ddd;
    text-align:center;
}

.cld_skin td:first-child, .cld_skin th:first-child
{
    border-left:none;
}

.cld_skin td:last-child, .cld_skin th:last-child
{
    border-right:none;
}

.cld_yday a:link, .cld_yday a:visited, .cld_skin td a:link, .cld_skin td a:visited
{
    text-decoration:none;
    font-size:12px;
}

.cld_normal a:link, .cld_normal a:visited
{
    color:#333;
}

.cld_nday
{
    background:#e6e6e6;
}

.cld_nday a:link, .cld_nday a:visited
{
    color:#666;
}

.cld_yday a:link, .cld_yday a:visited
{
    color:#ccc;
}

.cld_today a:link, .cld_today a:visited
{
    color:#333;
}


.cld_bday
{
    background:#f77;
}

.cld_bday a:link, .cld_bday a:visited
{
    color:#fff;
}

.cld_today
{
    background:#fbb;
}

.cld_btn1
{
    height:24px;
    line-height:22px;
    padding:0px 9px;
    color:#f55;
    font-size:12px;
    border-radius:3px;
    margin-top:10px;
    margin-left:12px;
    background:#fff;
    vertical-align:middle;
    border:1px solid #ddd;
}

.cld_btn1_ex
{
    margin-left:5px;
    color:#888;
}