body {
    background: #f6f6f6;
}

h4 {
    margin: 0px;
    color: #333;
    font-size: 15pt;
    font-weight: normal;
    margin-top: 30px;
}

    h4 img {
        vertical-align: middle;
        margin-right: 10px;
    }

.st_sch_wrap {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/sub_top_bg07.jpg', sizingMethod='scale');
    background: url(/images/sub_top_bg07.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.search_help_txt {
    position: absolute;
    color: #999;
    width: 560px;
    height: 60px;
    line-height: 62px;
}

.st_sch_input {
    background: #fff;
    height: 60px;
    line-height: 60px;
    width: 560px;
    text-align: left;
    margin: auto;
    padding: 0px 20px;
}

    .st_sch_input * {
        vertical-align: middle;
    }

    .st_sch_input input[type=text] {
        border: none;
        width: 530px;
        color: #555;
        font-size: 12pt;
        height: 30px;
    }

/*@media screen and (max-width:800px) {
    .st_sch_wrap {
        height: 100px;
        padding-top: 50px;
    }

    .search_help_txt {
        width: 460px;
        height: 50px;
        line-height: 52px;
    }

    .st_sch_input {
        height: 50px;
        line-height: 50px;
        width: 460px;
        padding: 0px 10px;
    }

        .st_sch_input input[type=text] {
            width: 430px;
            font-size: 12pt;
            height: 25px;
        }
}*/

.board_list_1 {
    padding-top: 25px;
    margin: 0px;
}

    .board_list_1 dt, .board_list_1 dd {
        border: 1px solid #ccc;
        border-top: none;
    }

    .board_list_1 dt {
        color: #333;
        padding: 0px;
        font-size: 12pt;
    }

        .board_list_1 dt:first-child {
            border-top: 1px solid #ccc;
        }

        .board_list_1 dt input[type=image] {
            vertical-align: middle;
            margin-right: 10px;
        }

    .board_list_1 dd {
        border-top: none;
        background: #ececee;
        margin: 0px;
        padding: 21px 29px;
        color: #555;
        font-size: 14px;
        line-height: 130%;
        display: none;
        min-height:120px;
    }

.board_date_txt {
    font-size: 11px;
    color: #777;
    margin-left: 9px;
}

.board_more_txt {
    text-align: center;
    padding: 29px;
    margin: 0px;
}

    .board_more_txt a:link, .board_more_txt a:visited {
        font-size: 18px;
        color: #333;
        text-decoration: none;
    }

    .board_more_txt a:hover {
        font-weight: bold;
        color: #000;
    }

.btn_write {
    float: right;
    margin-top: -60px;
}

.board_search {
    padding: 0px;
    color: #555;
    text-align: center;
    width: 762px;
    height: 48px;
    border: 1px solid #ccc;
    background: #e9e9f0;
    line-height: 50px;
    font-size: 13px;
    margin: 55px 0px 25px 0px;
}

    .board_search * {
        vertical-align: middle;
    }

    .board_search input[type=text] {
        font-size: 12px;
        width: 300px;
        height: 25px;
        line-height: 25px;
        border: 1px solid #bbb;
        color: #777;
        margin-left: 19px;
        padding-left: 10px;
    }

.board_skin1 {
    clear: both;
    border-collapse: collapse;
    width: 100%;
    border-top: 2px solid #888;
    margin-bottom: 19px;
}

    .board_skin1 th {
        font-weight: normal;
        background: #e3e3ee;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 13px;
        color: #333;
        border-bottom: 1px solid #bbb;
    }

    .board_skin1 td {
        color: #666;
        font-size: 13px;
        text-align: center;
        padding: 15px 5px;
        border-bottom: 1px solid #ccc;
    }

        .board_skin1 td[class=list_subject] {
            text-align: left;
        }

.list_subject a:link, .list_subject a:visited {
    color: #3f3f3f;
    font-size: 14px;
    text-decoration: none;
}

.list_subject div {
    color: #777;
    padding-top: 9px;
    font-size: 12px;
}

.board_view {
    clear: both;
    border: 1px solid #aaa;
    border-top: 2px solid #888;
}

    .board_view dt {
        color: #777;
        overflow: auto;
        background: #f3f3f3;
        border-bottom: 1px solid #ccc;
        padding: 20px 20px 13px 20px;
        font-size: 14px;
    }

    .board_view dd {
        margin: 0px;
        min-height: 140px;
        padding: 20px;
        color: #777;
        font-size: 14px;
        line-height: 160%;
        border-bottom: 1px solid #ddd;
    }

.board_view_txt1 {
    font-weight: bold;
    color: #666;
    width: 47px;
    display: inline-block;
    margin-bottom: 10px;
}

.board_view_txt2 {
    font-weight: bold;
    color: #3f3f3f;
}

.board_view_txt3 {
    font-size: 12px;
    color: #666;
    margin-left: 52px;
}

.board_view_txt4 {
    font-weight: bold;
    font-size: 12px;
    color: #333;
}

.board_view_txt5 {
    font-size: 12px;
    color: #f60;
}

.board_view dd[class=board_reply_write] {
    border: none;
    padding-top: 0px;
    font-size: 12px;
    color: #888;
    display:none;
}

.board_view textarea {
    margin-top: 5px;
    border: 1px solid #bbb;
    padding: 15px;
    width: 690px;
    height: 150px;
    font-family: 'Nanum Barun Gothic', '맑은 고딕';
    color: #555;
}

.board_reply_write p {
    margin: 0px;
    padding: 19px 0px 0px 0px;
    text-align: center;
    letter-spacing: 5px;
}

.board_replay {
    margin-top: 35px;
}

    .board_replay dt {
        font-size: 15px;
        color: #555;
        padding-bottom: 7px;
    }

        .board_replay dt img {
            vertical-align: middle;
            margin-right: 7px;
        }

        .board_replay dt span {
            font-weight: bold;
            color: #f30;
        }

    .board_replay dd {
        border: 1px solid #ccc;
        margin: 0px 0px 20px 0px;
        color: #555;
        padding: 17px 20px 12px 20px;
        font-size: 10pt;
        overflow: auto;
        line-height: 150%;
    }

        .board_replay dd[class=reply_select] {
            border: 1px solid #bbb;
            background: #e3e3e3;
        }

.replay_seq {
    color: #777;
    padding-right: 10px;
}

.replay_content {
    width: 630px;
}

.replay_info {
    color: #777;
    margin-top: 17px;
    font-size: 12px;
}

    .replay_info img {
        margin-top: -2px;
        vertical-align: middle;
        margin-left: 10px;
    }
