body {
    background: #f6f6f6;
}

.sub_h3 {
    margin-bottom: 27px;
}

.st_sch_wrap {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/sub_top_bg01.jpg', sizingMethod='scale');
    background: url(/images/sub_top_bg01.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.search_filter {
    clear: both;
    margin-top: 30px;
    border: 2px solid #778;
}

    .search_filter dt {
        background: #e9e9e9;
        border-bottom: 1px solid #ccc;
        height: 30px;
        line-height: 30px;
        color: #555;
        font-size: 13px;
        padding-left: 15px;
    }

    .search_filter dd {
        margin: 0px;
        padding: 10px;
        letter-spacing: 2px;
        line-height: 23px;
    }

    .search_filter input[type=button] {
        border: 1px solid #bbb;
        color: #666;
        width: 18px;
        height: 18px;
        font-size: 9pt;
        padding: 1px 0px 0px 0px;
        background: #fff;
    }

.photo_list {
    width: 775px;
    clear: both;
}

    .photo_list li {
        margin-right: 7px;
    }

    .photo_list img {
        width: 240px;
        height: 180px;
        border: 1px solid #ccc;
        padding: 4px;
    }

    .photo_list p {
        color: #666;
        font-size: 14px;
        margin: 0px;
        padding: 5px 0px 22px 0px;
        text-align: center;
    }

.photo_count {
    color: #f30;
    font-size: 11px;
}

.sub_title2 {
    border-bottom: 2px solid #888;
    padding: 0px;
    overflow: auto;
}

    .sub_title2 img {
        vertical-align: middle;
        margin-right: 10px;
    }

    .sub_title2 h4 {
        margin: 0px 0px 15px 0px;
        font-weight: normal;
        color: #333;
        font-size: 18px;
    }

    .sub_title2 input[type=button] {
        margin-left: 5px;
    }

.photo_view_info {
    padding: 20px 0px;
    overflow: auto;
    border-bottom: 1px solid #ccc;
}

.photo_view_img {
    padding: 4px;
    border: 1px solid #ccc;
    width: 400px;
    height: 300px;
    vertical-align: top;
}

.photo_view_info ul {
    overflow: visible;
    width: 330px;
    font-size: 14px;
    color: #555;
    margin: 10px 0px 0px 15px;
}

.photo_view_info li {
    height: 25px;
    margin: 0px;
}

.photo_view_info img {
    vertical-align: middle;
    margin-right: 7px;
}

.photo_content {
    color: #666;
    font-size: 10pt;
    line-height: 180%;
    padding: 15px 0px 30px 15px;
    border-bottom: 1px solid #888;
}

    .photo_content p {
        margin: 0px;
    }

#photoView {
    width: 678px;
    height: 530px;
    background: #fff;
    top: 50%;
    margin-top: -290px;
    left: 50%;
    margin-left: -340px;
    border: 0px;
    position: fixed;
    padding: 25px 0px;
}

.photo_slide
{
    clear:both;
    text-align:center;
    letter-spacing:10px;
    padding-top:5px;
}
.photo_slide *
{
    vertical-align:middle;
}

.photo_slide_list
{
    margin-left:39px;
    margin-top:19px;
}

.photo_slide_list li
{
    padding-right:10px;
}

.photo_slide_list li img
{
    width:60px;
    height:45px;
}


.p_layer_sub_title
{
    clear:both;
    color: #333;
    font-size: 18px;
    margin-bottom:10px;
    padding-top:10px;
}

.p_layer_sub_title img {
        vertical-align: middle;
        margin-right: 10px;
    }