body {
    background: #f6f6f6;
}

.rule_txt1 {
    font-size: 18px;
    color: #46d;
}

.rule_txt2 {
    font-size: 15px;
    color: #f55;
    margin: 0px;
}

.rule_txt3 {
    font-size: 14px;
    padding: 33px 0px 0px 0px;
    margin: 0px;
    color: #666;
    line-height: 140%;
}

.rule_list {
    clear: both;
    margin: 35px 0px 57px 0px;
    color: #333;
    font-size: 16px;
    line-height: 20px;
}

    .rule_list dt {
        margin-top: 40px;
    }

        .rule_list dt:first-child {
            margin: 0px;
            padding: 25px 0px 9px 0px;
        }

    .rule_list dd {
        color: #666;
        margin: 0px;
        padding-top: 10px;
        font-size: 14px;
    }

.rule_ol {
    margin-left: 20px;
}

.rule_ntxt {
    margin: 0px;
    padding: 0px;
}

.rule_list_ex1 dt {
    margin-top: 30px;
}

.rule_list_ex2 dt {
    font-size: 21px;
    padding: 15px 0px 5px 0px;
}

.rule_list_ex2 dd {
    font-size: 15px;
    line-height: 160%;
}


.rule_list_ex3
{
    margin-top:50px;
}

.rule_list_ex3 dt {
    font-size: 15px;
    padding: 0px 0px 10px 0px;
    margin:0px;
}

.rule_list_ex3 dt[class=rule_txt1] {
    font-size:17px;
    padding:12px 0px 19px 0px;
}

.rule_list_ex3 dd {
    padding:0px 0px 20px 0px;
    line-height: 140%;
}


.rule_list_sub
{
    color:#888;
    margin:10px 0px 10px 20px;
}

.sitemap_btn1, .sitemap_btn2, .sitemap_btn3, .sitemap_btn4, .sitemap_btn5 {
    margin-left: 80px;
    background: #f77;
    border: 1px solid #f55;
    height: 40px;
    width: 200px;
    line-height: 40px;
    box-sizing: border-box;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
}

.sitemap_btn1 {
    margin-left: 0px;
}

.sitemap_btn2 {
    color: #f55;
    border-color: #f88;
    background: #fff;
}

.sitemap_btn3 {
    color: #222;
    border-color: #c3c3c3;
    background: #fff;
}

.sitemap_btn4 {
    margin-left: 0px;
    color: #46d;
    border-color: #68d;
    background: #fff;
}

.sitemap_btn5 {
    border-color: #57c;
    background: #79c;
}

.sitemap_list {
    margin-left: 80px;
    clear: both;
    list-style: url(/images/li4.gif);
    padding: 5px 0px 0px 30px;
}

    .sitemap_list li {
        float: none;
        padding: 14px 0px 0px;
        font-size: 14px;
    }

    .sitemap_list a:link, .sitemap_list a:visited {
        color: #666;
        text-decoration: none;
    }

.ceo_photo_wrap {
    padding-bottom: 200px;
    margin-top: 35px;
    float: left;
    text-align: center;
    width: 340px;
    color: #333;
    font-size: 15px;
}

.photo_wrap {
    padding: 9px;
    border: 1px solid #ccc;
    line-height:0px;
}

.ceo_intro {
    color: #666;
    margin: 35px 0px 0px 40px;
    width: 657px;
    float: left;
    font-size: 15px;
    line-height: 170%;
}

    .ceo_intro p {
        margin: 0px;
        padding: 0px;
    }

    .about_wrap
    {
        margin-bottom:60px;
    }

.about_wrap dt {
    clear: both;
    color: #46d;
    font-size: 21px;
    padding: 33px 0px 15px 0px;
}

.about_wrap dd {
    margin: 0px;
    color: #666;
    font-size: 15px;
    line-height: 170%;
    padding-bottom: 17px;
    overflow: auto;
}

    .about_wrap dd p {
        margin: 0px;
        padding: 0px;
    }

    .about_wrap dd div:first-child {
        margin-right: 40px;
    }

    .about_wrap dd ul {
        margin:0px;
        padding:0px;
        list-style: url(/images/li4.gif);
        clear: both;
        color:#666;
        font-size:15px;
    }

        .about_wrap dd ul li span {
            color:#f55;
        }

.rule_table
{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
}

.rule_table th
{
    border:1px solid #ccc;
    border-top:2px solid #aaa;
    text-align:center;
    font-weight:normal;
    background:#f1f0f6;
    padding:10px;
    color:#555;
}

.rule_table td
{
    color:#666;
    background:#fff;
    padding:10px;
    border:1px solid #ccc;
    text-align:center;
}