body
{
    background:#f6f6f6;
}
.shop_title
{
    color:#f55;
    font-size:18px;
    margin:0px 0px 10px 0px;
}

.shop_title img
{
    vertical-align:middle;
    margin-right:10px;
}

.shop_btn1, .shop_btn2, .shop_btn3, .shop_btn4, .shop_btn6, .shop_btn7
{
    border:1px solid #f55;
    background:#f77;
    color:#fff;
    font-size:14px;
    border-radius:3px;
    padding:7px 15px;
}

.shop_btn2, .shop_btn3, .shop_btn6, .shop_btn7
{
    width:125px;
    box-sizing:border-box;
    letter-spacing:0px;
    font-size:16px;
    padding:10px 18px 9px 18px;
}

.shop_btn7
{
    background:#fff;
    border-color:#bbb;
    color:#666;
}

.shop_btn3, .shop_btn4
{
    background:#fff;
    color:#666;
    border:1px solid #bbb;
}

.shop_btn6
{
    border:1px solid #f77;
    background:#fff;
    color:#f55;
}

.shop_btn5
{
    width:100px;
    text-align:center;
    height:30px;
    color:#fff;
    background:#aaa;
    border:none;
    font-size:14px;
    border-radius:3px;
    box-sizing:border-box;
    border:1px solid #aaa;
    padding:0px;
    line-height:30px;
}

.shop_table1
{
    color:#666;
    text-align:center;
    border-collapse:collapse;
    width:100%;
}

.shop_table1 th
{
    background:#f0f1f6;
    color:#555;
    font-weight:normal;
    font-size:14px;
    border-top:2px solid #aaa;
    border-bottom:1px solid #ccc;
    height:38px;
    box-sizing:border-box;
}

.shop_table1 td
{
    border-bottom:1px solid #ccc;
    background:#fff;
    box-sizing:border-box;
}

.shop_table1 tfoot td
{
    background:#f1f0f6;
    text-align:right;
    border-bottom:1px solid #bbb;
    padding:15px 12px;
}

.shop_table1_ex
{
    border-top:2px solid #aaa;
    border-bottom:1px solid #bbb;
}

.shop_table1_ex th, .shop_table1_ex td
{
    height:37px;
    padding-left:9px;
    text-align:left;
    border-bottom:none;
    border-top:1px solid #ddd;
}

.shop_table1_ex tr:first-child th, .shop_table1_ex td:first-child
{
    border-top:none;
}

.shop_table1_ex th
{
    width:120px;
}

.shop_table1_ex td
{
    height:40px;
    font-size:14px;
    padding-left:19px;
    line-height:150%;
}

.shop_table1_ex2 td
{
    padding-left:10px;
}

.shop_table1_ex2 input[type=text]
{
    width:120px;
    border:1px solid #ccc;
    height:30px;
    color:#666;
    font-size:14px;
    box-sizing:border-box;
    padding-left:7px;
}

.shop_table1_ex2 input[type=radio]
{
    margin:0px 7px 2px 0px;
    vertical-align:middle;
}

.shop_tlink1
{
    text-align:left;
    padding:10px;
}

.shop_tlink1 img
{
    vertical-align:middle;
    margin-right:20px;
}

.shop_tlink1 a:link, .shop_tlink1 a:visited, .shop_tlink1 a:hover
{
    text-decoration:none;
    color:#333;
}

.shop_cate_lst
{
    list-style:url(/images/li6.gif);
    margin:0px;
    padding:0px;
}

.shop_cate_lst li
{
    float:left;
}

.shop_cate_lst a:link, .shop_cate_lst a:visited, .shop_cate_lst a:hover
{
    color:#666;
    text-decoration:none;
    padding-right:25px;
}

.shop_list_wrap
{
    clear:both;
    width:1040px;
    overflow-x:hidden;
}

.shop_list_wrap ul
{
    list-style:none;
    margin:0px;
    padding:0px;
    overflow:auto;
}

.shop_list_wrap li
{
    margin:0px 20px 25px 0px;
    padding:0px;
    float:left;
    text-align:center;
    color:#000;
    font-size:15px;
}

.shop_list_wrap li p
{
    margin:14px 0px 4px 0px;
}

.shop_list_wrap a:link, .shop_list_wrap a:visited, .shop_list_wrap a:hover
{
    font-size:14px;
    text-decoration:none;
    color:#666;
}

.shop_table2
{
    border-collapse:collapse;
    width:100%;
    color:#333;
}

.shop_table2 caption
{
    text-align:left;
    border-top:2px solid #aaa;
    border-bottom:1px solid #ccc;
    padding:13px 15px;
    margin-bottom:11px;
    font-size:18px;
}

.shop_table2 th
{
    width:120px;
    font-weight:normal;
    padding:7px 15px;
    text-align:left;
    color:#888;
    font-size:14px;
    box-sizing:border-box;
}

.shop_table2 td
{
    box-sizing:border-box;
    color:#666;
    font-size:14px;
}

.shop_table2 tfoot td
{
    border-top:1px solid #ccc;
    color:#333;
    font-size:16px;
    padding:17px 15px;
}

.shop_table3
{
    border-collapse:collapse;
    width:100%;
    color:#777;
    font-size:14px;
    vertical-align:top;
    line-height:160%;
    margin-top:5px;
}

.shop_table3 th
{
    vertical-align:top;
    text-align:left;
    color:#333;
    font-weight:normal;
    width:120px;
    border-bottom:1px solid #ccc;
    padding:15px 0px;
}

.shop_table3 td
{
    padding:15px 0px;
    border-bottom:1px solid #ccc;
}

.shop_table3 ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.shop_table3 li
{
}

.shop_subt
{
    color:#f33;
    margin:23px 0px 0px 0px;
}